@charset "utf-8";
/* CSS Document */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
caption {
margin: 0;
padding: 0;
border: 0;
outline: 0;
font-weight: inherit;
font-style: inherit;
font-size: 100%;
font-family: inherit;
vertical-align: baseline;
}
/* remember to define focus styles! */
:focus {
outline: 0;
}

ol, ul {
list-style: none;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
border-collapse: separate;
border-spacing: 0;
}
caption, th, td {
font-weight: normal;
}
blockquote:before, blockquote:after,
q:before, q:after {
content: "";
}
blockquote, q {
quotes: "" "";
}

body {
	color: #666666;
	background-color: #FFFFFF;
	font-size:13px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
}
    

#item_login {
	padding: 0px 10px 0 20px;
	float:right;
	color:#FFFFFF;
	font-weight:bold;
	font-size:1.1em;
} 



#item_login img
{
	vertical-align: -2px;
}





#desc_directory
{
	border: 1px solid #666666;


	background-color:#FFFFFF;
	padding:10px;
	margin-bottom:5px;
}

#desc_directory #left_picture{
	border: 4px solid #F3DE33;
	float:left;
	height:60px;
	width:80px;
	overflow:hidden;
	margin-right:10px;
	background-image: url(../img/picture_error.png);
	background-repeat: no-repeat;
	background-position: 50% 50%;
}

#desc_directory #right_picture
{
	float:left;
}

#desc_directory #trailer, #desc_directory #trailer a
{
	font-size: 1em;
	font-weight: bold;
	color: #999999;
	text-decoration:none;

}
#desc_directory #trailer a:hover
{
	color: #333333;	
}
#desc_directory #trailer
{
	margin-bottom:3px;
	width:900px;
}


#menu_r_trailer
{
	margin-left:10px;
	font-size: 1em;
	font-weight: bold;
}

#menu_r_trailer a
{
	color: #FFFFFF;
	text-decoration:none;
}
#menu_r_trailer a:hover
{
	color: #000000;
	text-decoration:none;
}


.x-toolbar .ytb-text
{
	padding:0;
}


#desc_directory #title
{
	font-size: 1.1em;
	color: #666666;
}

#desc_directory #description
{
	font-size: 0.9em;
}
#desc_directory #info
{
	clear:left;
	font-size: 0.8em;
}
#desc_directory #info_dir
{
	width:300px;
	float:left;
	margin-top:3px;
}
#desc_directory #filter
{
	float:right;
	width:600px;
	text-align:right;
	padding-right:10px;
}
#footer p {
	margin: 0;
	padding: 10px 0;
	background-image: url(../img/footer_bg.jpg);
	background-repeat: repeat-x;
	height:17px;
}

#footer img
{
	vertical-align:-3px;

}
.dir .thumb
{
	background-image: url(../img/directory_bg.jpg);
	height:107px;
	width:107px;
	text-align:center;
}
.dir .thumb img
{
	max-height: 75px;
	max-width: 85px;
	padding-top:12px;
}

.dir, .media
{
	width:110px;
	height:150px;
	float:left;
	font-size:0.8em;
	padding:5px;
	margin:3px;
}
.media .thumb
{
	border: 1px solid #F3DE33;
	width:103px;
	height:103px;
	text-align:center;
	
}
.media .thumb img
{
	max-height: 75px;
	max-width: 85px;
	padding-top:12px;
}

.media .picture
{
	background-image: url(../img/image.png);
	background-repeat: no-repeat;
	background-position: 85px 85px;
}
.media .movie, .media .movie_displayable
{
	background-image: url(../img/film.png);
	background-repeat: no-repeat;
	background-position: 85px 85px;
}

.dir .name
{
	font-size: 0.9em;
	width:107px;
	text-align:center;

}
.dir .name a
{
	text-decoration: none;
	color: #666666;
	font-weight: bold;
}
.dir .name a:hover
{
	text-decoration:underline;
}


.media .name
{
	font-size: 0.9em;
	width:107px;
	text-align:center;

}
.media .name a
{
	text-decoration: none;
	color: #666666;
}
.media .name a:hover
{
	text-decoration:underline;
}

.media .other
{
	background-image: url(../img/page_white.png);
	background-repeat: no-repeat;
	background-position: 85px 85px;
}
.media .song
{
	background-image: url(../img/sound.png);
	background-repeat: no-repeat;
	background-position: 85px 85px;
}

#display_media
{
	text-align:center;
	margin-bottom:10px;
}
#walk_elements
{
	width:700px;
	margin:auto;
	text-align:center;
	border: 0px solid #999999;
	padding:2px;
	margin-bottom:5px;
}
.element
{
	display:inline-block;
	margin-bottom:5px;
}

.element_select
{
	border: 4px solid #F3DE33;
}

#no_albums
{
	height: 300px;
	width: 400px;
	margin:auto;
	text-align:center;
	padding-top:50px;
	font-weight: bold;
	color: #993300;
	font-size: 1em;
}
a img
{
	border:0;
}
#menu #item_lang
{
float:right;
}
#menu #item_login
{
	/*float:right;*/
}

/* ---------- ROLLOVER MENU --------------------------- */

#rollovermenu{
	padding:0;
	width:120px;
	margin-left:4px;
}

#rollovermenu, #rollovermenu ul { /* all lists */
	padding: 0;
	margin: 0;
	list-style: none;
}
#rollovermenu ul{
	width:120px;
	padding-bottom:7px;
	background-color:#ACACAC;
	border: 1px solid #333333;
}

#rollovermenu ul a:link, #rollovermenu a:visited {
	display: block;
	border:none;
	text-decoration:none;
	padding:0px 10px 0px 10px;
	height:15px;
	color: #FFFFFF;	
}
#rollovermenu #current {
	display: block;
	border:none;
	padding:0px 10px 0px 13px;
	height:15px;
	color:#CCCCCC;
}
#rollovermenu li { /* all list items */
	position: relative;

	cursor: default;
	padding:0px 2px;
	margin:0px;
}

#rollovermenu li ul { /* second-level lists */
	position: absolute;
	left: -999em; /* using left instead of display to hide menus because display: none isn't read by screen readers */
	padding-top:2px;
}
#rollovermenu li ul li
{
	text-align: left;
	padding:2px 3px;
}

#rollovermenu li:hover ul, #rollovermenu li.sfhover ul { /* lists nested under hovered list items */
	left:-2px;
	top:22px;
}

li#invite {
	margin: 0 0 0px 22px;
	height:26px;

}


#invite img
{
	vertical-align: -1px;
}


#box {
	position:absolute;
	margin:auto;
	margin-top:-370px;
	overflow: hidden;
	text-align:left;
	background:white;
	width:0;
	height:0;
}


#mp3tag
{
	display: block;
}
#mp3tag #artist, #mp3tag #album
{
	padding:8px;
	font-size: 0.9em;
}
#mp3tag #title
{
	font-size: 1.1em;
	padding:8px;
	font-weight: bold;
}

	#north{
	background-image:url(../img/background.jpg);
	background-repeat:repeat-x;
	height:97px;
	}
	p {
	    margin:5px;
	}
    .home_pic {
        background-image:url(../img/folder_magnify.png);
		vertical-align: -1px;
		margin-left:3px;
    }
	.qnaphead
	{
		font-size: 1.1em;	
	}
.x-tree-node-leaf .x-tree-node-icon{background-image:url(../img/ext_img/tree/folder.gif);}	
#ext_info
{
	text-align:left;
}
#ext_info h4
{
	font-size:1.4em;
	font-weight:bold;
	text-align:center;
	border-bottom-width: 3px;
	border-bottom-style: solid;
	border-bottom-color: #CCCCCC;	
	margin-bottom:10px;
}

#ext_info td
{
	padding:3px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #999999;
}

/******* PAGING **************/

p.paging {
	line-height:18px;
	margin:0 auto;
	margin-bottom:30px;
	text-align:center;
	width:48em;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 0.7em;
}
p.paging a.prev, p.paging a.next, p.paging a.page,p.paging .space {
	background-color:transparent;
	background-image:url(../img/sprite.gif);
	background-repeat:no-repeat;
	color:#FFFFFF;
	display:block;
	float:left;
	font-style:normal;
	height:18px;
	outline-color:-moz-use-text-color;
	outline-style:none;
	outline-width:0;
	text-transform:uppercase;
}
p.paging .space
{
	width:1px;
}
p.paging a
{
	border:0 none;
	text-decoration:none;
}
p.paging a.page
{
	padding-right:10px;	
	padding-left:10px;
}
p.paging a.page:hover
{
	background-position:left -54px;
	color: #000000;	
}
p.paging a.prev
{
	padding-right:20px;	
	padding-left:20px;
	background-position:left -18px;
}
p.paging a.prev:hover
{
	color: #000000;
	background-position:left -72px;
}
p.paging a.next
{
	padding-left:20px;
	padding-right:20px;
	background-position:right -36px;
}
p.paging a.next:hover
{
	color: #000000;
	background-position:right -90px;
}
p.paging a.disabled {
	background-image:url(../img/sprite_d.gif);
	color:#999999;
	cursor:default;
}

p.paging a.disabled:hover {
	color:#999999;
}
#center-panel .x-panel-header
 {
	margin:0;
	padding:0; 
	padding-bottom:0;
 }
.flag_en
{
 	background-position:0 2px !important;
	background-repeat:no-repeat !important;
	background-image:url(../img/flag/us.gif) !important;
}
.flag_fr
{
	background-position:0 2px !important;
	background-repeat:no-repeat !important;
	background-image:url(../img/flag/fr.gif) !important;
} 
.flag_nl
{
	background-position:0 2px !important;
	background-repeat:no-repeat !important;
	background-image:url(../img/flag/nl.gif) !important;
} 
.flag_de
{
	background-position:0 2px !important;
	background-repeat:no-repeat !important;
	background-image:url(../img/flag/de.gif) !important;
} 
.flag_es
{
 	background-position:0 2px !important;
	background-repeat:no-repeat !important;
	background-image:url(../img/flag/es.gif) !important;
}

.icon_key
{
	background-position:0 2px !important;
	background-repeat:no-repeat !important;
	background-image:url(../img/bullet_key.png) !important;
}
.icon_help
{
	background-repeat:no-repeat !important;
	background-image:url(../img/help.png) !important;
}
.icon_logout
{
	background-repeat:no-repeat !important;
	background-image:url(../img/lock_open.png) !important;
}
.icon_administration
{
	background-repeat:no-repeat !important;
	background-image:url(../img/wrench_orange.png) !important;
}


#online_help
{
	background-color:#FFFFFF;
	color:#000000;
}

#online_help h2 {
	color:#990000;
	font-size:1.3em;
	font-weight: bold;
	text-transform: uppercase;
}
#online_help h3 {
	color:#5A5858;
	font-size:1.2em;
	text-decoration: underline;
}

/* ------  COMMENT  ----- */


.commentbody h1
{
	color: #666666;
	margin:0;
	padding:0;
	font-size:1.1em;
	font-weight:bold;
}


.comment_part {
	background-color:#E5ECF4;
	font-size:0.9em;
}
span.corners-top {
	background-image: url(../img/corner_tbg.gif);
	background-repeat: repeat-x;
	background-position: left top;	
	height:11px;

}
span.corners-top {

margin:0;
}
span.corners-top, span.corners-top span {
display:block;
font-size:1px;
line-height:1px;
}
span.corners-top span
{
	float:right;
}
.comment_part .commentbody
{
	clear:both;
	border-right-width: 2px;
	border-left-width: 2px;
	border-right-style: solid;
	border-left-style: solid;
	border-right-color: #E2E0D3;
	border-left-color: #E2E0D3;
	padding:0 20px;
}
.comment_part .cbox
{
	color: #000000;
	background-image: url(../img/bg_comment.jpg);
	background-repeat: repeat-x;
	background-position: left bottom;

	padding-top:15px;	
}
.comment_part .comment_round
{
	height:15px;
	margin-left:40px;
	background-color:#FFFFFF;
	text-align:center;
	background-image: url(../img/boxcomment_tl.gif);
	background-repeat: no-repeat;
	background-position: left top;
	height:30px;
	width:110px;

}
span.cboxtxt
{
	padding:8px 5px;
	display:block;
	
	font-size:0.85em;
	font-weight:bold;
	background-image: url(../img/boxcomment_tr.gif);
	background-repeat: no-repeat;
	background-position: right top;
}
.comment_part .white
{
	background-color:#FFFFFF;
}

.comment_part .dashed
{
	border-bottom-width: 3px;
	border-bottom-style: dotted;
	border-bottom-color: #CCCCCC;
	padding: 5px 0 0 0;
}

img.avatar
{
	padding-right:10px;
}

.comment_part .title
{
	display:block;
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #CCCCCC;
	margin-bottom:5px;
	padding-bottom:2px;
}
.comment_part .description
{
	margin-bottom:4px;
	display:block;

	margin-left:10px;
	
}

.comment_part .box_add_comment
{
	border-right-width: 2px;
	border-left-width: 2px;
	border-right-style: solid;
	border-left-style: solid;
	border-right-color: #E2E0D3;
	border-left-color: #E2E0D3;
	padding:5px 20px;
    background-color: #E9F8D9;

}
.comment_part .comment_format
{
	border: 1px solid #999999;
}

form .oneField {
display:block;
margin:6px 0;
vertical-align:middle;
}
label.preField {
	display:block;
	float:left;
	margin:0 7px 0 0;
	padding:0 2px;
	width:7em;
	text-align:right;
}
span.corners-bottom {
	background-image: url(../img/corner_tbg.gif);
	background-repeat: repeat-x;
	background-position: left bottom;	
	heigth:11px;
	background-color: #E9F8D9;
}
span.corners-bottom {
margin:0;
}
span.corners-bottom, span.corners-bottom span {
display:block;
font-size:1px;
line-height:1px;
}
span.corners-bottom span
{
	float:right;
}
.comment_part .btn_download
{
	position: absolute;
	right:20px;
}
.comment_part .btn_exif
{
	position: absolute;
	right:120px;
}




.comment_part a.button {
background: transparent url('../img/button_r.jpg') no-repeat scroll top right; 
display: block;
float: left;
height: 21px; 
margin-right: 6px;
padding-right: 2px; 
text-decoration: none;
color: #000000;
font-family: Arial, Helvetica, sans-serif;
font-size:12px;
}
.comment_part a.button span {
	display: block;
	line-height: 21px;
	padding: 1px 4px 5px 7px;
	background-color: transparent;
	background-image: url(../img/button_l.jpg);
	background-repeat: no-repeat;
} 
strong
{
	font-weight:bold;
}
.dashed td
{
vertical-align:top;
}
#menu_r
{
	height: 25px;
}

/* ------  BUTTONS (BODY CONTENT)  ----- */


#button_ac_bar {
padding: 0 0 10px 0;
margin: 0;
}

#button_ac_bar li{
list-style: none;
padding: 0px;
margin-left: 5px;
float:right;
}

#button_ac_bar li.linkit, #button_ac_bar li.linkit a
{
	background-image: url(../img/button_blogthis.jpg);
}
#button_ac_bar li.cooliris, #button_ac_bar li.cooliris a
{
	background-image: url(../img/button_cooliris.jpg);
}
#button_ac_bar li.radio, #button_ac_bar li.radio a
{
	background-image: url(../img/button_radio.jpg);
}
#button_ac_bar li.slideshow, #button_ac_bar li.slideshow a
{
	background-image: url(../img/button_slideshow.jpg);
}
#button_ac_bar li.thumb, #button_ac_bar li.thumb a
{
	background-image: url(../img/button_thumb.jpg);
}
#button_ac_bar li.list, #button_ac_bar li.list a
{
	background-image: url(../img/button_list.jpg);
}
#button_ac_bar li.follow, #button_ac_bar li.follow a
{
	background-image: url(../img/button_follow.jpg);
}

#button_ac_bar li.linkit, #button_ac_bar li.linkit a,#button_ac_bar li.radio, #button_ac_bar li.radio a, #button_ac_bar li.cooliris, #button_ac_bar li.cooliris a, #button_ac_bar li.slideshow, #button_ac_bar li.slideshow a, #button_ac_bar li.thumb, #button_ac_bar li.thumb a, #button_ac_bar li.list, #button_ac_bar li.list a,#button_ac_bar li.follow, #button_ac_bar li.follow a{
	background-repeat: no-repeat;
	height: 21px;
	width: 23px;
}
#button_ac_bar li.linkit, #button_ac_bar li.radio, #button_ac_bar li.cooliris, #button_ac_bar li.slideshow, #button_ac_bar li.thumb, #button_ac_bar li.list,#button_ac_bar li.follow {
	background-position: 0 -21px;
}
#button_ac_bar li.linkit a, #button_ac_bar li.radio a, #button_ac_bar li.cooliris a,#button_ac_bar li.slideshow a,#button_ac_bar li.thumb a,#button_ac_bar li.list a, #button_ac_bar li.follow a{
	display: block;
}
#button_ac_bar li.linkit a:hover, #button_ac_bar li.radio a:hover, #button_ac_bar li.cooliris a:hover,#button_ac_bar li.slideshow a:hover,#button_ac_bar li.thumb a:hover,#button_ac_bar li.list a:hover,#button_ac_bar li.follow a:hover{
	background: none;
}
#button_ac_bar li.disabled
{
	background-position: 0 -42px;
}




#ac_bar
{
	height:30px;
	background-color:#EEEEEE;
	width:100%;
	margin-bottom:10px;
}
#acb_l, #acb_r 
{
	height:22px;
	padding:3px 5px 5px 5px;
	background-repeat:no-repeat;
	font-size:0.85em;
}
#acb_l
{
	float:left;
	background-image:url(../img/button_bar_l.jpg);
	background-position:top left;
	padding-top:7px;
	height:18px;
}
#acb_r
{
	background-image:url(../img/button_bar_r.jpg);
	background-position:top right;
	float:right;
	text-align:right;
	color:#666666;
}

#acb_r select
{
	border: 1px solid #999999;
	color:#666666;
}


			



/******** ADMINISTRATION ****************/
.page_title {
	border-bottom:3px dotted #E1DFD2;
	clear:both;
	color:#64AB01;
	font-family:Trebuchet MS,Verdana,Arial,Helvetica,sans-serif;
	font-size:24px;
	margin-bottom:10px;
	overflow:auto;
	padding-bottom:3px;
}
.function_list ul {
	list-style-type:none;
	margin:0 0 5px;
	padding:0 15px 0 0;
}
.function_list ul li {
	display:inline;
	float:left;
	height:100px;
	padding-bottom:15px;
	padding-top:15px;
	width:150px;
	text-align:center;
}
.function_list ul li a {
	text-decoration: none;
	color:#4C4C4C;
	font-size:12px;
	font-weight:bold;
	line-height:1.5em;
}
.function_list ul li a:hover {	text-decoration: none;	}
.function_list a:link {color:#4C4C4C;}
.function_list a:visited {color:#4C4C4C;}
.function_list a:hover {color:#FC7100;text-decoration: none;}


.blank_linkit
{
	background-color:#FFFFFF;
	text-align:left;
	color:#000000;
	padding:10px;
}
#itemselector .x-panel-header 
{
	padding:2px;
	padding-left:5px;
}
#itemselector .x-panel-btns-ct
{
	padding-left:200px;
}

#comment_number
{
	position: absolute;
	background:url(../img/admin/number.png);
	left:105px;
	font-size:0.7em;
	font-weight:bold;
	color:#FFFFFF;
	width:23px;
	height:15px;
	padding:1px 0;
	text-align:center;
	margin-top:-5px;
}

.setting_fieldset {
/*background:transparent url(/ajax_obj/images/table_bg.jpg) repeat-x scroll 0 0;*/
border:1px solid #D3D3D3;
margin:15px 0;
padding:5px 20px 15px;
position:relative;
font-size:0.9em;
}
.setting_fieldset legend {
color:#64AB01;
font-size:13px;
font-weight:bold;
}

#tab_auth, #tab_visual
{
		font-size:0.93em;
}

#picture_rendering_l
{
	background-image: url(../img/ext_img/tree/loading.gif);
	background-repeat: no-repeat;
	background-position: center center;
}
.pm_logo
{
color:#F3DE33;
}
#error_message
{
	text-align:center;
	background-color: #EDB1B1;
	background-image: url(../img/error.png);
	background-repeat: no-repeat;
	background-position: 10px center;
	padding-left:40px;
	padding-top:10px;
	height:35px;
	overflow:visible;
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-top-style: solid;
	border-bottom-style: solid;
	border-top-color: #B01515;
	border-bottom-color: #B01515;
	margin-top: 15px;
	font-size:0.9em;
}
.menu_render
{
padding:0 !important;
}

.icon_profile
{
	background-repeat:no-repeat !important;
	background-image:url(../img/report_user.png) !important;
}

.notify_pic img
{
	padding:4px;
}
.notify_pic img.selected
{
	border: 2px solid #666;
	padding:2px;
	background-color: #EEE;
}
img.selectable
{
	padding:5px;
}

.avatar_sel img{
	border: 2px solid #FFFFFF;
}

.avatar_sel:hover img{
	border: 2px solid #333;
	background-color: #FFFCC6;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

.avatar_sel img.selected{
	border: 2px solid #333;
	background-color: #CCC;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}


.avatar_sel:hover{
	color: black; /* Dummy definition to overcome IE bug */
}
#profile_element .x-panel-btns-ct
{
	padding-left:152;
}
#profile_element .x-toolbar
{
	display:block;
	padding:2px;
	position:relative;
	background-attachment: scroll;
	background-color: #CCCCCC;
	background-image: url(../img/ext_img/toolbar/bg.gif);
	background-repeat: repeat-x;
	background-position: left top;
	border-top-width: 0;
	border-right-width: 0;
	border-bottom-width: 1px;
	border-left-width: 0;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #999999;
	border-right-color: #999999;
	border-bottom-color: #999999;
	border-left-color: #999999;
}
#profile_element .x-fieldset-header-text
{
	color: #000000;
}

#profile_element .x-toolbar button, #profile_element .x-form-item-label {
	color: #000000;
}

#profile_element .x-btn-over button{
	color: #FFFFFF;
}

#profile_element .x-panel-body {
	
	border-width:0;
}

#profile_element .x-panel-noborder .x-panel-body-noborder {
border-width:0;
}

td.avatar_im
{
	background-image:url(../img/avatar.jpg);
	background-repeat:no-repeat;
	padding-right:30px;
	text-align:center;
	vertical-align:middle;
	margin-bottom:10px;
}
